@import "fonts.css";

/* ****Root**** */

:root {
  --RBlack: "Roboto-Black";
  --RBold: "Roboto-Bold";
  --RBoldI: "Roboto-BoldItalic";
  --RI: "Roboto-Italic";
  --RL: "Roboto-Light";
  --RM: "Roboto-Medium";
  --RR: "Roboto-Regular";
  --Uni: 'ofont.ru_Uni\ Sans';
  --Gothic: 'ofont.ru_Century\ Gothic';
  --black: #000;
  --ligth-black: #2D2D2D;
  --ligth-green: #25CF43;
  --grey-black: #484848;
  --light-grey: #C4C4C4;
  --grey: #6F6F6F;
  --blue: #2F6DCE;
  --v-light-blue: #E8F6FF;
  --linear-greadient-blue: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), #CFE900;
  --ligth-blue: #005AE9;
  --dark-blue: #113671;
  --footer-blue: #172233;
  --white: #fff;
  --ligth-red: #E05C5C;
  --red: #FF3939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background: rgb(59, 131, 247);
}

/* ****Root end**** */



.header-top {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-top__left {
  max-width: 575px;
  width: 100%;
}

.header-left__title-first {
  color: var(--blue);
  font-size: 65px;
  font-family: var(--Uni);
  line-height: 100%;
  margin-top: 100px;
}

.header-left__title-second {
  color: var(--ligth-black);
  font-family: var(--Uni);
  font-size: 30px;
  line-height: 40px;
  margin-top: 20px;
}

.header-left__text {
  color: var(--ligth-black);
  font-family: var(--RM);
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 60px;
}

.header-left__img {
  content: '';
  display: block;
  position: absolute;
  top: 330px;
  left: 400px;
}

.header-left__btn {
  color: var(--blue);
  text-align: center;
  font-family: var(--RR);
  font-size: 22px;
  line-height: 100%;
  padding: 10px 40px;
  border-radius: 39px;
  border: 2px solid var(--blue);
  box-shadow: 0px 22px 44px -12px rgba(0, 90, 233, 0.35);
  max-width: 360px;
  width: 100%;
  height: 70px;
}

.header-left__group {
  margin-top: 28px;
}

.header-group__text {
  text-align: center;
  color: var(--ligth-black);
  font-family: var(--RR);
  font-size: 16px;
  line-height: 100%;
  max-width: 305px;
  width: 100%;
}

.header-top__right {
  background: url(../images/headerBG.png) no-repeat center /cover;
  max-width: 670px;
  width: 100%;
  height: 720px;
  padding-top: 130px;
  padding-left: 65px;
}

.header-right__info {
  border-radius: 6px;
  background: rgb(196, 196, 196, 0.5);
  max-width: 450px;
  width: 100%;
  display: flex;
  column-gap: 20px;
  padding-top: 10px;
  margin: 8px 0px;
}

.header-right__icon {
  font-size: 40px;
  color: var(--blue);
  margin-top: 7px;
  padding-left: 20px;
}

.header-info__title {
  color: var(--black);
  font-family: var(--RR);
  font-size: 24px;
  line-height: 100%;
  padding: 20px 0px 20px 0px;
}

/* ****media star**** */


@media (max-width: 1300px) {

  .header-top {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .header-left__title-first {
    text-align: center;
  }

  .header-left__title-second {
    color: var(--color-font-02, #2D2D2D);
    text-align: center;
    font-family: var(--Uni);
    font-size: 30px;
    
    font-weight: 900;
    line-height: 24px;
    /* 120% */

  }

}


/* ****media end**** */